input{
	file {
		path => "/rohan/server_logstash/*.tsv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
	}
}

filter{
	csv{
		separator => "	"
		columns => ["URL","Brand","Image","GTIN","sku","Title","Category"
		]
	}	
	mutate {
			remove_field => ["@host", "message","@path"]
	}
	mutate { convert => ["SystemId","integer"]}
}

output{
	elasticsearch{
	hosts => "localhost"
	index => "products"
	document_type => "product_details"
	}
	stdout{

	}
}
