{% extends 'base.html' %}

{% block title %}
    <title>
        Change Passowrd
    </title>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        

        <form action="{% url 'project:change_password_request' %}" method="POST" style="margin-left:30px;position: relative;top: 100px;left: 16px;" class="form-horizontal"> {% csrf_token %}
        
        {% load crispy_forms_tags %}
        <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Current Password</label>
    <div class="col-sm-10">
      {{ password_update_form.current_password }}
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">New Password</label>
    <div class="col-sm-10">
      {{ password_update_form.new_password }}
    </div>
  </div>

        <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
       <button type="submit" class="col-sm-10 btn btn-primary">Update Password</button>
    </div>
  </div>
       </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        {% if message  %}

        <h3> {{ message }}</h3>
          
        {% endif %}
        {% endif %}
{% endblock %}
